* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-primary);
    color: var(--text-normal);
    font: var(--font-normal);
    height: 100vh;
    display: flex;
    flex-flow: column;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--bg-tertiary);
	border-radius: 10px;
	background: var(--bg-primary);
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px var(--bg-tertiary);
	background: var(--bg-accent);
}

a {
    color: var(--link-normal);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: var(--link-hover);
}

a:active {
    color: var(--link-active);
}

nav {
    display: flex;
    flex-flow: row;
    height: 3em;
    background-color: var(--bg-quaternary);
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

#project-container {
    display: flex;
}

#project-index {
    display: flex;
    width: 300px;
    background: var(--bg-tertiary);
}

#editor-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

#editor {
    flex: 1;
    cursor: default;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 30px 60px 30px;
    border-radius: 5px;
    max-width: 826px;
    background: var(--bg-tertiary);
    color: var(--text-normal);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}

#nav-logo {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

#logo-svg {
    width: 48px;
    height: 48px;
    margin-left: 10px;
}

#logo-svg > * {
    fill: var(--header-secondary);
}

#logo-svg:hover > * {
    fill: var(--header-primary);
}

#nav-links {
    display: flex;
    flex: 1;
    flex-flow: row;
    justify-content: flex-end;
}

.nav-link {
    display: flex;
    flex-direction: row;
    flex-basis: content;
    align-items: center;
    margin-right: 20px;
    color: var(--link-normal);
    text-decoration: none;
    font-weight: 600;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--link-hover);
}

#nav-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-user svg > * {
    stroke: var(--header-secondary);
}

#nav-user:hover svg > * {
    stroke: var(--header-primary);
}

#nav-user-drop-down {
    position: absolute;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: var(--header-secondary);
    font: var(--font-text);
    background: var(--bg-secondary);
    right: 20px;
    top: 60px;
}

.drop-down-item {
    border-radius: 3px;;
    display: flex;
    white-space: nowrap;
    padding: 3px 7px;

}

.drop-down-item:hover {
    background: var(--bg-accent);
}

.tab-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 5px;
}

.tab-link-list {
    display: flex;
    flex-direction: row;
    font-size: 19px;
}

.tab-panels {
    display: flex;
    background: var(--bg-quaternary);
    padding: 30px 20px 20px 20px;
    border-radius: 0 0 5px 5px;
    overflow: auto;
}

.tab-link {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    background: var(--bg-primary);
}

.tab-panel {
    display: none;
}

.tab-link-active {
    background: var(--bg-quaternary);
}


.tab-panel-active {
    display: flex;
    flex: 1;
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.form input {
    background: var(--bg-primary);
    color: var(--text-normal);
    border: none;
    margin: 0 0 15px 0;
    padding: 15px;
    font-size: 15px;
    border-radius: 4px;
}

.form input::placeholder {
    color: var(--text-inactive);
}

.form input[type='submit'] {
    cursor: pointer;
    background: var(--bg-tertiary);
    margin-bottom: 0;
    font: var(--font-text);
}

.form input[type='submit']:hover {
    background: var(--bg-accent);
}

#signin-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#signin-window {
    display: flex;
    margin-top: 10%;
}

#drop-down-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
