:root {
	--header-primary: #fff;
	--header-secondary: #b9bbbe;
	--text-normal: #dcddde;
	--text-inactive: #72767d;
	--text-link: #00b0f4;
	--channels-default: #8e9297;
	--link-normal: #b9bbbe;
	--link-hover: #dcddde;
	--link-active: #fff;
	--link-inactive: #4f545c;
	--bg-primary: #36393f;
	--bg-secondary: #2f3136;
	--bg-tertiary: #202225;
	--bg-quaternary: #292b2f;
	--bg-accent: #4f545c;
	--bg-floating: #18191c;
	--bg-mod-hover: rgba(79, 84, 92, 0.16);
	--bg-mod-active: rgba(79, 84, 92, 0.24);
	--bg-mod-selected: rgba(79, 84, 92, 0.32);
	--bg-mod-accent: hsla(0, 0%, 100%, 0.06);
	--bg-mentioned: rgba(250, 166, 26, 0.05);
	--bg-mentioned-hover: rgba(250, 166, 26, 0.08);
	--bg-message-hover: rgba(4, 4, 5, 0.07);
	--elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
	--elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
	--elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
	--logo-primary: #fff;
	--guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	--channeltextarea-bg: #40444b;
	--activity-card-bg: #202225;
	--textbox-markdown-syntax: #8e9297;
	--font-normal: 16px 'Fira Code', sans-serif;
	--font-nav: 18px 'Fira Code', sans-serif;
}

.dark {
	--header-primary: #fff;
	--header-secondary: #b9bbbe;
	--text-normal: #dcddde;
	--text-inactive: #72767d;
	--text-link: #00b0f4;
	--channels-default: #8e9297;
	--link-normal: #b9bbbe;
	--link-hover: #dcddde;
	--link-active: #fff;
	--link-inactive: #4f545c;
	--bg-primary: #36393f;
	--bg-secondary: #2f3136;
	--bg-quaternary: #292b2f;
	--bg-tertiary: #202225;
	--bg-accent: #4f545c;
	--bg-floating: #18191c;
	--bg-mod-hover: rgba(79, 84, 92, 0.16);
	--bg-mod-active: rgba(79, 84, 92, 0.24);
	--bg-mod-selected: rgba(79, 84, 92, 0.32);
	--bg-mod-accent: hsla(0, 0%, 100%, 0.06);
	--bg-mentioned: rgba(250, 166, 26, 0.05);
	--bg-mentioned-hover: rgba(250, 166, 26, 0.08);
	--bg-message-hover: rgba(4, 4, 5, 0.07);
	--elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
	--elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
	--elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
	--logo-primary: #fff;
	--guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	--channeltextarea-bg: #40444b;
	--activity-card-bg: #202225;
	--textbox-markdown-syntax: #8e9297;
}

.light {
	--header-primary: #060607;
	--header-secondary: #4f5660;
	--text-normal: #2e3338;
	--text-inactive: #747f8d;
	--text-link: #0067e0;
	--channels-default: #6a7480;
	--link-normal: #4f5660;
	--link-hover: #2e3338;
	--link-active: #060607;
	--link-inactive: #c7ccd1;
	--bg-primary: #fff;
	--bg-secondary: #f2f3f5;
	--bg-quaternary: #ebedef;
	--bg-tertiary: #e3e5e8;
	--bg-accent: #747f8d;
	--bg-floating: #fff;
	--bg-mod-hover: rgba(116, 127, 141, 0.08);
	--bg-mod-active: rgba(116, 127, 141, 0.16);
	--bg-mod-selected: rgba(116, 127, 141, 0.24);
	--bg-mod-accent: rgba(6, 6, 7, 0.08);
	--bg-mentioned: rgba(250, 166, 26, 0.1);
	--bg-mentioned-hover: rgba(250, 166, 26, 0.2);
	--bg-message-hover: rgba(6, 6, 7, 0.02);
	--elevation-stroke: 0 0 0 1px rgba(6, 6, 7, 0.08);
	--elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
	--elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.08);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.16);
	--logo-primary: #7289da;
	--guild-header-text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.4);
	--channeltextarea-bg: #ebedef;
	--activity-card-bg: #fff;
	--textbox-markdown-syntax: #6a7480;
}
